{% extends "layout.html.twig" %}

{% block title "Inscription" %}
    
{% block content%}

<form>
  <div class="form-group" id="form_inscription">
    <label for="pseudo">Entrer un pseudo : </label>
    <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="Votre pseudo">
  </div>
    
  <div class="form-group">
    <label for="mdp">Entrer un mot de passe : </label>
    <input type="password" class="form-control" id="mdp" name ="mdp" placeholder="Votre mot de passe">
  </div>
 
  <button type="submit" class="btn btn-default">S'inscrire</button>
</form>
    

