body{ 
background: url('../images/background_accueil.png') center center repeat;
background-size:cover 100%;
}
/*Boutons de l'accueil'*/
.btn-primary {
    background-color: #42a5f5;
    border-color: transparent;
    color: #fff;
    font-weight: bold;
}
.btn-primary:hover{
   background-color: #90caf9; 
   border-color: transparent;
   color: #0288d1;
}

/*bouton proposer une question*/
#last-button{
    font-size: 1.3rem;
}


