@import url('https://fonts.googleapis.com/css?family=Anton');

/*-----barre de navigation ----*/

.navbar-default .navbar-brand {
   color: #fff; 
}
/*lien tableau des scores*/
.font{
    font-size: medium;
}

/*Hovers*/
.navbar-default .navbar-brand:hover{
    background: #90caf9;
}

.navbar-default .navbar-brand:hover{
    color: #0288d1;
}
/*----Contenu de la page----*/

/*Titre du jeu*/
#rappelTitre{
   font-family: 'Anton';
   margin-bottom: 30px;
}

/*Affichage du score*/
#score{
     font-family: 'Anton';
     margin-top: 30px;
}

/*Texte de fin de partie*/
#paragraph{
    color: #fff;
    font-family: 'Anton';
    font-weight: 100;
    font-size: 1.9rem;
    margin-top: 50px;
}

/*Image*/
#logo{
    width: 250px;
    height: 200px;
    display: block;
    margin : 10px auto;
}


#container-bar {
    padding: 0;
}

/*Bordure pour la nav en responsive*/
.bottom{
    border-bottom: solid 1px #0288d1;
}

