@import url('https://fonts.googleapis.com/css?family=Anton');
html{
    
}
/*JEU*/
body {
    margin: 0;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size : 100%;
    font-family: 'Anton';
}

h1,h2,h3,p {
    color:#fff;
    
}

.jokerButton {
    padding: 15px;
    border-radius: 100%;
    color: #fff;
    width: 100px;
    border: none;
}

.validateButton {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 200px;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 2px;
    color: #fff;
    border: none;
}

.validateButton-primary, .jokerButton-primary {
    background: #2196f3;
    background-image: linear-gradient(center bottom, #1a237e, #7986cb, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #1a237e, #7986cb, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #1a237e, #7986cb, rgba(0,0,0,0.4));
    cursor: pointer;
}

.validateButton-primary:hover, .jokerButton-primary:hover {
    background-image: linear-gradient(center bottom, #7986cb, #1a237e, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #7986cb, #1a237e, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #7986cb, #1a237e, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton {
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    text-shadow: -1px 1px #004d40;
    border: none;
    height: 45px;
}


.disabled {
    background-color: #757575;
    background-image: linear-gradient(center bottom, #424242, #e0e0e0, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #424242, #e0e0e0, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #424242, #e0e0e0, rgba(0,0,0,0.4));
    cursor : not-allowed;
}

.barre {
    text-decoration: line-through;
}

.reponseButton-selected {
    background-color: #ffca28;
    background-image: linear-gradient(center bottom, #ff8f00, #ffe082, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #ff8f00, #ffe082, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #ff8f00, #ffe082, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-wrong {
    background-color: #f44336;
    background-image: linear-gradient(center bottom, #c62828, #e57373, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #c62828, #e57373, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #c62828, #e57373, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-right {
    background-color: #43a047;
    background-image: linear-gradient(center bottom, #2e7d32, #81c784, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #2e7d32, #81c784, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #2e7d32, #81c784, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-primary {
    background: #2196f3;
    background-image: linear-gradient(center bottom, #1565c0, #64b5f6, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #1565c0, #64b5f6, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #1565c0, #64b5f6, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-primary:hover{
    background-image: linear-gradient(center bottom, #64b5f6, #1565c0, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #64b5f6, #1565c0, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #64b5f6, #1565c0, rgba(0,0,0,0.4));
    cursor: pointer;
}

/*image de redirection accueil*/
#home{
    width: 50px;
    height: 50px;
    display: block;
    
}


#questionNumber,#questionText{
    /*border: 1px solid #ccc;*/
    font-size:large;
    text-align: left;
    
}



