@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/*JEU*/
body {
    margin: 0;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size : 100%;
    font-family: 'Anton';
}

.homeButton {
    margin-top: 1%;
    margin-left: 10%;
    width: 50px;
}

h1 {
    margin-top: 5rem;
}

h1, h2, h3, p {
    text-align: center;
    color:#fff;
}

.jokerRow {
    width: 30%;
    margin: 0 auto;
}

.buttonRow{
    width: 30%;
    margin: 2% auto;
}


#joker2, #reponseB, #reponseD {
    float:right;
    clear:both;
}

.jokerButton {
    display: inline-block;
    margin: 0 20px;
    padding: 15px;
    border-radius: 100%;
    color: #fff;
    width: 100px;
    border: none;
}

.validateButton {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 200px;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 2px;
    color: #fff;
    border: none;
}

.validateButton-primary, .jokerButton-primary {
    background: #2196f3;
    background-image: linear-gradient(center bottom, #1a237e, #7986cb, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #1a237e, #7986cb, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #1a237e, #7986cb, rgba(0,0,0,0.4));
    cursor: pointer;
}

.validateButton-primary:hover, .jokerButton-primary:hover {
    background-image: linear-gradient(center bottom, #7986cb, #1a237e, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #7986cb, #1a237e, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #7986cb, #1a237e, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton {
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    text-shadow: -1px 1px #004d40;
    border: none;
    height: 45px;
    width: 200px;
}


.disabled {
    background-color: #757575;
    background-image: linear-gradient(center bottom, #424242, #e0e0e0, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #424242, #e0e0e0, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #424242, #e0e0e0, rgba(0,0,0,0.4));
    cursor : not-allowed;
}

.reponseButton-selected {
    background-color: #ffca28;
    background-image: linear-gradient(center bottom, #ff8f00, #ffe082, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #ff8f00, #ffe082, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #ff8f00, #ffe082, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-wrong {
    background-color: #f44336;
    background-image: linear-gradient(center bottom, #c62828, #e57373, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #c62828, #e57373, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #c62828, #e57373, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-right {
    background-color: #43a047;
    background-image: linear-gradient(center bottom, #2e7d32, #81c784, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #2e7d32, #81c784, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #2e7d32, #81c784, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-primary {
    background: #2196f3;
    background-image: linear-gradient(center bottom, #1565c0, #64b5f6, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #1565c0, #64b5f6, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #1565c0, #64b5f6, rgba(0,0,0,0.4));
    cursor: pointer;
}

.reponseButton-primary:hover{
    background-image: linear-gradient(center bottom, #64b5f6, #1565c0, rgba(0,0,0,0.4));
    background-image: -moz-linear-gradient(center bottom, #64b5f6, #1565c0, rgba(0,0,0,0.4));
    background-image: -webkit-linear-gradient(center bottom, #64b5f6, #1565c0, rgba(0,0,0,0.4));
    cursor: pointer;
}

/*image de redirection accueil*/
#home{
    width: 50px;
    height: 50px;
    display: block;
    
}

#questionNumber,#questionText{
    /*border: 1px solid #ccc;*/
    font-size:large;
    
}

#combo {
    position: absolute;
    font-family: 'Pacifico';
    font-size:6rem;
    transform: rotate(-45deg);
    top : 55%;
    left: 45%;
}

.yellow {
    color: #ffff00;
}

/* Gestion de la hauteur de l'écran (pour le top en absolute) */

@media screen and (max-height:320px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 200%;
        margin: 0;
    }
}

@media screen and (min-height:321px) and (max-height:387px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 180%;
        margin: 0;
    }
}

@media screen and (min-height:388px) and (max-height:400px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 160%;
        margin: 0;
    }
}

@media screen and (min-height:401px) and (max-height:412px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 150%;
        margin: 0;
    }
}

@media screen and (min-height:413px) and (max-height:415px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 155%;
        margin: 0;
    }
}

@media screen and (min-height:416px) and (max-height:478px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 135%;
        margin: 0;
    }
}

@media screen and (min-height:479px) and (max-height:500px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 135%;
        margin: 0;
    }
}

@media screen and (min-height:501px) and (max-height:540px) {
    body {
      height: 650px;  
    }
    
    .validateButton {
        top: 110%;
        margin: 0;
    }
}

@media screen and (min-height:541px) and (max-height:600px) {
    body {
      height: 650px;  
    }
    
    .validateButton {
        top: 103%;
        margin: 0;
    }
}

@media screen and (min-height:601px) and (max-height:640px) {
    body {
      height: 700px;  
    }
    
    .validateButton {
        top: 102%;
        margin: 0;
    }
}

@media screen and (min-height:641px) and (max-height:700px) {
    body {
      height: 700px; 
    }
    
    .validateButton {
        top: 90%;
        margin: 0;
    }
}

@media screen and (min-height:701px) and (max-height:731px) {
    body {
      height: 700px; 
    }
    
    .validateButton {
        top: 85%;
        margin: 0;
    }
}

@media screen and (min-height:732px) and (max-height:740px) {
    body {
      height: 732px; 
    }
    
    .validateButton {
        top: 85%;
        margin: 0;
    }
}

@media screen and (min-height:741px) and (max-height:769px) {
    body {
      height: 769px; 
    }
    
    .validateButton {
        top: 85%;
        margin: 0;
    }
}

@media screen and (min-height:770px) and (max-height:800px) {
    body {
      height: 800px; 
    }
    
    .validateButton {
        top: 90%;
        margin: 0;
    }
}

@media screen and (min-height:980px) and (max-height:1023px) {
    body {
      height: 980px; 
    }
    
    .validateButton {
        top: 90%;
        margin: 0;
    }
}

@media screen and (min-height:1024px) and (max-height:1279px) {
    body {
      height: 1024px;
    }
    
    .validateButton {
        top: 70%;
        margin: 0;
    }
}

@media screen and (min-height:1280px) and (max-height:1300px) {
    body {
      height: 1280px;
    }
    
    .validateButton {
        top: 70%;
        margin: 0;
    }
}

@media screen and (min-height:1301px) and (max-height:1366px) {
    body {
      height: 1366px;
    }
    
    .validateButton {
        top: 70%;
        margin: 0;
    }
}

/* Gestion de la largeur de l'écran */

@media screen and (max-width:760px){
    
    body {
        background-size: 100% 100%;
        
    }
    
    .jokerRow {
        width: auto;
    }
    
    .buttonRow {
        width: 90%;
        margin: 0 auto;
    }
    
    .reponseButton {
        width: 100%;
        margin: 1% auto 0;
    }
    
    #reponseB, #reponseD {
        float:none;
    }
    
    
}

@media screen and (min-width:761px) and (max-width:1919px){
    
    body {
        background-size: 100% 100%;
        
    }
    
    .jokerRow {
        width: 60%;
    }
    
    .buttonRow {
        width: 90%;
        margin: 0 auto;
    }
    
    .reponseButton {
        width: 30%;
        margin: 5% auto 0;
    }
     
}




