.margin-top-5 {
    margin-top: 5%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

/*Tableau de validation des questions*/
#option1,#option2,#option3{
  width: 30px;
  heigth: 30px;
  display: inline-block;
}

