.margin-top-10 {
    margin-top: 10%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

/*Tableau de validation des questions*/
#option1,#option2,#option3{
  width: 30px;
  heigth:30px;
  display: inline-block;
}