{% extends "layout.html.twig" %}

{% block content %}
    
    <div class="container">
        
        <div class="row">
            {# On affiche un message si un joueur n'est pas connecté#}
            {% if not membre_manager.membre %}
                <p class='alert alert-danger col-md-2 col-md-offset-4'>Attention, si vous n'êtes pas connecté votre score ne sera pas sauvegardé!</p>
            {% endif %}
        </div>
        
        <div class="row">
            <h1 class="col-md-6 col-md-offset-4">Our Game</h1>
        </div>
        
        <div class="row">
            <a href="{{ path('game') }}" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-10">Jouer</a>
        </div>
        
        <div class="row">
            <a href="{{ path('regles') }}" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-10">Règles du jeu</a>
        </div>
        
        <div class="row">
            <a href="{{ path('scores') }}" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-10">Scores</a>
        </div>
        
       
        {% if membre_manager.membre %}    
        <div class="row">
            <a href="{{ path('soumission') }}" class="btn btn-primary col-md-2 col-md-offset-4 margin-top-10">Proposer une question</a>
        </div>
        {% endif %}
        
        
    </div>
{% endblock %}
