{% extends "layout.html.twig" %}

{% block content %}
    <h1>Our Game</h1>
    <button class="btn btn-default">Jouer</button>
    <button class="btn btn-default">Règles du jeu</button>
    <button class="btn btn-default">Scores</button>
{% endblock %}
