{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row" >
            
                <ul class="list-group list-group-flush" id='cadre'
                  
                    <li class="story">
                        Félicitations habitant(e) de "nom de planète".
                    </li>
                    <li class="story">
                        Vous avez été sélectionné pour participer au voyage intersidéral , qui vous permettra de passer un an sur la planète Terre. 
                        Mais avant cela une dernière étape il vous faudra passer..
                        Nous recherchons en effet des candidats motivés et ayant un minimum de connaissances sur les humains. 
                    </li>
                    <li class="story">
                        Ils sont très sensibles à ce qu'ils nomment communément la culture G. 
                        Nous allons donc vous faire passer un test à ce sujet.  
                        Mais ne vous inquiétez pas nous sommes convaincu que vous y arriverez. 
                    </li>
                    <li class="story">
                        "Nom de la compagnie spatiale".
                    </li>
                </ul>

        </div>
    </div>
    <div class="container">
        <div class="row">
            

            {# <h1 class="col-md-6 col-md-offset-4"></h1> #}
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title text-center">Règles du jeu</h4>
  

                    <ul class="list-group list-group-flush">

            
                
                        <li class="list-group-item">
                            Sélectionner une réponse par question puis valider votre réponse à l'aide du bouton valider
                        </li>
                    
                        <li class="list-group-item">
                            Vous avez le droit à trois mauvaises réponses par partie.
                            Sinon vous aurez échoué au test.
                        </li>
                    
                        <li class="list-group-item">
                            Pour vous aidez, vous avez à votre disposition deux jokers:
                                Le joker Switch permet de changer de question au cours de la partie
                            
                                Le joker 50/50 permet de retirer deux mauvaises réponses à la question 
                                et vous laisse donc un choix à deux réponses
                            
                            Attention chaque joker ne peut etre utiliser qu'une seule fois au cours de la partie.
                            Ils peuvent etre utiliser     
                        </li>
                    
                        <li class="list-group-item">
                        Si vous donnez trois bonnes réponses à la suite, votre score sera zugmenté.
                        En fonction de votre score, vos chances de réussite sont multipliés.
                        </li>
                    
                    </ul>
                </div>
            </div>

        </div>
  </div>
{% endblock %}

   

                       

                        

                        