{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-md-6 col-md-offset-4">Règles du jeu</h1>
            <ul>
                <li class="margin-top-10">
                    Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Charmander Lorem ipsum
                </li>
                <li>
                    Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Charmander Lorem ipsum
                </li>
                <li>
                    Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Charmander Lorem ipsum
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

