{% extends "layout.html.twig" %}

{% block title "Politismos Quiz : Régles du jeu"%}

{% block content %}
    <div class="container">
        <div class="row">
             <h1 class='col-md-0 col-md-offset-4 col-sm-offset-4 col-xs-6 col-xs-offset-1' id="welcome"> Welcome to Dagovarana</h1>
        </div>
        
        <div class="row" >

            <img id ="logo" src="{{ asset('assets/images/earth.png') }}" alt="logo">
            
            <ul class="list-group list-group-flush" id='cadre'>
                  
                <li class="story">
                    Félicitations habitant(e) de Dagovarana.
                </li>
                
                <li class="story">
                    Vous avez été sélectionné(e) pour participer au voyage intersidéral, qui vous permettra de passer un an sur la planète Terre. 
                    Mais avant cela, une dernière étape il vous faudra passer..
                    Nous recherchons, en effet, des candidat(e)s motivé(e)s et ayant un minimum de connaissances sur les Humains. 
                </li>
                
                <li class="story">
                    Ils sont très sensibles à ce qu'ils nomment communément la culture G. 
                    Nous allons donc vous faire passer un test à ce sujet, sous forme de quiz.  
                    Mais ne vous inquiétez pas nous sommes convaincu que vous y arriverez. 
                </li>
                    
                <li class="story">
                    Surtout pensez à bien lire les régles avant de commencer.
                </li>
                
                <li class="story">
                    POLITISMOS.INC<br>
                    "La compagnie spatiale proche de vous".
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <h2 class="card-title text-center" id="gameRules">Règles du jeu</h2>

                    <ul id="rules" class="list-group list-group-flush">
                
                        <li class="rule">
                            Sélectionnez une seule réponse par question posée et validez-la ensuite à l'aide du bouton valider.
                        </li>
                    
                        <li class="rule">
                            Au bout de trois mauvaises réponses, la partie se termine.
                        </li>
                    
                        <li class="rule">
                            Pour vous aidez, vous avez à votre disposition deux jokers: le switch et le cinquante-cinquante.
                        </li>
                        
                        <li class="rule">
                            Le joker switch permet de changer de question au cours de la partie.
                        </li> 
                        
                        <li class="rule">
                            Le joker cinquante-cinquante permet de retirer deux mauvaises réponses à la question et vous laisse donc un choix à deux réponses au lieu de quatre.
                        </li>  
                        
                        <li class="rule">
                            Attention chaque joker ne peut être utilisé qu'une seule fois au cours de la partie.
                            Ils peuvent cependant être utilisés conjointement durant la même manche.  
                        </li>
                        
                        <li class="rule">
                            Si vous réalisez un combo de trois bonnes réponses à la suite, votre score sera multiplié.
                            N'oubliez pas que votre réussite au quiz dépendra de votre score.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

   

                       

                        

                        