{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Règles du jeu</h1>
            <p>lorem</p>
        </div>
    </div>
{% endblock %}

