{% extends "layout.html.twig" %}

{% block title "Politismos Quiz : Scores" %}
    
{% block content %}
<div class="container">
    <h1>Meilleurs scores</h1>
    
    <table class="table">
        <tr>
            <th>Pseudo</th>
            <th>Score</th>
            {% if membre_manager.admin %}
            <th>Action</th>
            {% endif %}
        </tr>
        
        {% for membre in membres %}
        <tr>
            <td>{{ membre.pseudo }}</td>
            <td>{{ membre.score }}</td>
            {% if membre_manager.admin %}
            <td>
                <a href="{{ path('admin_reset_score',{id:membre.id_membre}) }}">
                <img id="option3" src="{{ asset('assets/images/remove.png') }}" alt="remettre à zéro">
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
    
{% endblock %}
